.combobox-with-search__modal {
  .combobox-with-search__modal-panels {
    display: flex;
    flex-direction: row;

    .combobox-with-search__modal-panel {
      flex: 1 1 0;
    }

    .combobox-with-search__modal-panel--left {
      border-right: 1px solid #e5e5e5;
    }

    .combobox-with-search__modal-panel--right {
      border-left: 1px solid #e5e5e5;
    }
  }

  .combobox-with-search__modal-search-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .combobox-with-custom-search__modal-search-filter {
      margin: 5px;
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
    }

    .combobox-with-search__modal-search-filter {
      margin: 5px;
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;

      input {
        width: 100%;
      }
    }
    .combobox-with-search__modal-search-label {
      margin-right: 5px;
    }
  }
}

.combobox-with-search__modal-search-results {

  .cell-value-disabled {
    color: #ccc;
  }

  .rt-tbody {
    max-height: 400px;
    overflow-y: scroll;
  }

  .ReactTable .-pagination .-center {
    flex-wrap: nowrap;
  }

  .hidden {
    display: none !important;
  }
}
